 #choiceContainer {
        text-align: center;
    }

    h1 {
        text-align: center;
        display: inline-block;
    }
    
    .center{
        margin-top: 10px;
        text-align: center;
    }

    img {
        padding: 15px;
        width: 100px;
        cursor: pointer;
    }

    .names {
        margin-top: 20px;
        font-size: 40px;

    }

    .player {
        float: left;
        margin-left: 20%;
    }

    .computer {
        float: right;
        margin-right: 20%;

    }

    .block {
        display: inline-block;
        text-align: center;
    }

    .container {
        margin-left: auto;
        margin-right: auto;
        max-width: 1000px;
        min-width: 670px;
    }

    .clear {
        clear: both;
    }
    
    .vs{
        position: relative;
        width: 20%;
        font-size: 70px;
        top: -75px;
        
    }
    
    .playerChoice{
       
    }
    
    .computerChoice{
       
    }
    
    .battle{
        width: 150px;
        cursor: default;
    }
    
    #submit{
        
        font-size: 30px;
        background: gray;
        color: white;
        padding: 20px;
        cursor: pointer;
        margin-top: 10px
    }
    
    #result{
        height: 100px;
    }
    
    p{
        text-align: center;
        margin: 0;
        padding: 5px;
        font-size: 30px;
    }
    
    #playerScore{
       margin-right: 150px;
        font-size: 60px;
        
    }
    
    #computerScore{
      margin-left: 150px;
        font-size: 60px;

    }
    
    .top{
        text-align: center;
    }
